# Virtual environment
venv/

# Pytest cache
__pycache__/
.pytest_cache/

# Allure reports and results
automation/reports/allure-report/
automation/reports/allure-results/

# OS-specific files
.DS_Store

# IDE files
.idea/
.vscode/

# Logs
*.log
